Repository openstack/trove: changes, and which Zuul jobs are due for each by the changed paths.
All: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

trove-functional-mysql:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-functional-dsvm-mysql/run.yaml
  post-run: playbooks/legacy/trove-functional-dsvm-mysql/post.yaml

trove-grenade:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/grenade-dsvm-trove/run.yaml
  post-run: playbooks/legacy/grenade-dsvm-trove/post.yaml
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/trove
  - openstack/trove-dashboard

trove-scenario-cassandra-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-cassandra-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-cassandra-single/post.yaml

trove-scenario-cassandra-multi:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-cassandra-multi/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-cassandra-multi/post.yaml

trove-scenario-couchdb-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-couchdb-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-couchdb-single/post.yaml

trove-scenario-couchbase-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-couchbase-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-couchbase-single/post.yaml

trove-scenario-mariadb-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mariadb-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mariadb-single/post.yaml

trove-scenario-mariadb-multi:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mariadb-multi/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mariadb-multi/post.yaml

trove-scenario-mongodb-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mongodb-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mongodb-single/post.yaml

trove-scenario-mongodb-multi:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mongodb-multi/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mongodb-multi/post.yaml

trove-scenario-mysql-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mysql-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mysql-single/post.yaml

trove-scenario-mysql-multi:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mysql-multi/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mysql-multi/post.yaml

trove-scenario-percona-multi:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-percona-multi/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-percona-multi/post.yaml

trove-scenario-percona-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-percona-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-percona-single/post.yaml

drop extra word to fix typo
  integration/scripts/files/elements/ubuntu-db2/README.md
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix incorrect usage of assertTrue
  integration/tests/integration/tests/volumes/driver.py
  trove/tests/unittests/cluster/test_cluster_pxc_controller.py
  trove/tests/unittests/cluster/test_cluster_redis_controller.py
  trove/tests/unittests/cluster/test_cluster_vertica_controller.py
  trove/tests/unittests/common/test_common_extensions.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix PostgreSQL non-dynamic configration tests
  trove/templates/postgresql/validation-rules.json
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix client ping in redis scenario tests
  trove/guestagent/datastore/experimental/redis/service.py
  trove/tests/scenario/helpers/redis_helper.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

[api-ref] Add sections for backups.
  api-ref/source/backups.inc
  api-ref/source/index.rst
  api-ref/source/parameters.yaml
Due: none

Use RootHistory to check if root is ever enabled
  tools/trove-pylint.config
  trove/common/cfg.py
  trove/common/exception.py
  trove/common/wsgi.py
  trove/extensions/cassandra/service.py
  trove/extensions/common/service.py
  trove/extensions/mysql/service.py
  trove/extensions/postgresql/service.py
  trove/extensions/redis/service.py
  trove/tests/unittests/common/test_wsgi.py
  trove/tests/unittests/extensions/__init__.py
  trove/tests/unittests/extensions/common/__init__.py
  trove/tests/unittests/extensions/common/test_service.py
  trove/tests/unittests/extensions/redis/__init__.py
  trove/tests/unittests/extensions/redis/test_service.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Remove entry of policy.json from setup.cfg
  setup.cfg
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi

Fix guestagent.test_operating_system for Python3
  .stestr.conf
  .testr.conf
  blacklist-py3.txt
  tox.ini
  trove/common/crypto_utils.py
  trove/common/stream_codecs.py
  trove/guestagent/common/operating_system.py
  trove/tests/unittests/guestagent/test_operating_system.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Return 204 instead of 200 for root-disable API
  api-ref/source/samples/db-disable-root-user-response-json-http.txt
  api-ref/source/user-management.inc
  releasenotes/notes/return-http-204-for-disable-root-api-a818fc41fd6e75eb.yaml
  trove/extensions/common/service.py
  trove/tests/api/root.py
  trove/tests/api/root_on_create.py
  trove/tests/examples/snippets.py
  trove/tests/scenario/runners/root_actions_runners.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Use neutronclient for floatingip operations
  trove/instance/models.py
  trove/taskmanager/models.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix false-negative failure report for mysqldump backup
  trove/guestagent/strategies/backup/mysql_impl.py
  trove/tests/unittests/backup/test_backupagent.py
  trove/tests/unittests/guestagent/test_backups.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix annotation info error in guestagent-api
  trove/guestagent/api.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix create mongodb cluster error in multi-network env
  trove/common/strategies/cluster/experimental/mongodb/api.py
  trove/tests/unittests/cluster/test_mongodb_cluster.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Register all replicas in replication scenario test
  trove/tests/scenario/runners/replication_runners.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi

Fix client recreation in Redis root-disable test
  trove/tests/scenario/helpers/redis_helper.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi

Skip root state inherting scenario tests for Redis
  trove/tests/int_tests.py
  trove/tests/scenario/groups/root_actions_group.py
  trove/tests/scenario/runners/root_actions_runners.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Avoid diverged slave when migrating MariaDB master
  releasenotes/notes/avoid-diverged-slave-when-migrating-mariadb-master-37e2429a1ea75913.yaml
  trove/taskmanager/manager.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Updated from global requirements
  requirements.txt
  test-requirements.txt
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

Mox removal for MgmtInstance actions API tests
  trove/tests/api/mgmt/instances_actions.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline

Updated from global requirements
  test-requirements.txt
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

Fix os.path.join() for unittests under python 3.6
  trove/tests/unittests/guestagent/test_backups.py
  trove/tests/unittests/guestagent/test_redis_manager.py
Due: none

Revert "Fix false-negative failure report for mysqldump backup"
  trove/guestagent/strategies/backup/mysql_impl.py
  trove/tests/unittests/backup/test_backupagent.py
  trove/tests/unittests/guestagent/test_backups.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Mox removal for instances_resize API tests
  test-requirements.txt
  trove/tests/api/instances_resize.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

add lower-constraints job
  .zuul.yaml
  lower-constraints.txt
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

fix a typo in documentation
  etc/trove/README-policy.generated.md
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

Updated from global requirements
  requirements.txt
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

fix a typo
  trove/common/utils.py
  trove/tests/unittests/router/test_router.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add check_process() for mysqldump
  trove/guestagent/strategies/backup/mysql_impl.py
  trove/tests/unittests/backup/test_backupagent.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update auth_uri option to www_authenticate_uri
  doc/source/install/common_configure.txt
  etc/trove/api-paste.ini.test
  etc/trove/trove.conf.test
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

Fix lower-constraints and uncap eventlet
  lower-constraints.txt
  requirements.txt
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

Fix dict iteration in PropertiesCodec
  trove/common/stream_codecs.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Run unittests under the low-constraints job
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Cleanup testrepository and os-testr requirements
  lower-constraints.txt
  test-requirements.txt
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Trivial: Update pypi url to new url
  doc/source/admin/building_guest_images.rst
  doc/source/install/manual_install.rst
Due: none

Add .stestr.conf to fix tox-py27 stable job
  .gitignore
  .stestr.conf
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update character set and coallaction for mysql5.7
  trove/common/db/mysql/data.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Switch to cryptography from pycrypto
  integration/scripts/files/requirements/fedora-requirements.txt
  integration/scripts/files/requirements/ubuntu-requirements.txt
  requirements.txt
  trove/common/crypto_utils.py
  trove/tests/unittests/common/test_crypto_utils.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add a hook for restore process to check if successful
  integration/scripts/functions_qemu
  trove/guestagent/strategies/restore/base.py
  trove/guestagent/strategies/restore/mysql_impl.py
  trove/tests/unittests/guestagent/test_backups.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add volume_type to apischema
  trove/common/apischema.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Path conditions:
  trove-functional-mysql: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-grenade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchdb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchbase-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mongodb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mongodb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-tox-fakemodetests: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/api/.*$, ^trove/tests/db/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tox-apiexamples: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/api/.*$, ^trove/tests/db/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
