Repository openstack/trove: changes, and which Zuul jobs are due for each by the changed paths.
All: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

trove-functional-mysql:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-functional-dsvm-mysql/run.yaml
  post-run: playbooks/legacy/trove-functional-dsvm-mysql/post.yaml

trove-grenade:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/grenade-dsvm-trove/run.yaml
  post-run: playbooks/legacy/grenade-dsvm-trove/post.yaml
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/trove
  - openstack/trove-dashboard

trove-scenario-cassandra-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-cassandra-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-cassandra-single/post.yaml

trove-scenario-cassandra-multi:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-cassandra-multi/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-cassandra-multi/post.yaml

trove-scenario-couchdb-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-couchdb-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-couchdb-single/post.yaml

trove-scenario-couchbase-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-couchbase-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-couchbase-single/post.yaml

trove-scenario-mariadb-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mariadb-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mariadb-single/post.yaml

trove-scenario-mariadb-multi:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mariadb-multi/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mariadb-multi/post.yaml

trove-scenario-mongodb-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mongodb-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mongodb-single/post.yaml

trove-scenario-mongodb-multi:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mongodb-multi/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mongodb-multi/post.yaml

trove-scenario-mysql-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mysql-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mysql-single/post.yaml

trove-scenario-mysql-multi:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-mysql-multi/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-mysql-multi/post.yaml

trove-scenario-percona-multi:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-percona-multi/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-percona-multi/post.yaml

trove-scenario-percona-single:
  parent: trove-legacy-dsvm-base
  run: playbooks/legacy/trove-scenario-dsvm-percona-single/run.yaml
  post-run: playbooks/legacy/trove-scenario-dsvm-percona-single/post.yaml

Update Trove's README
  README.rst
Due: none

change pylint wrapper to let messages be prefixes
  tools/trove-pylint.py
Due: none

Remove pycrypto from requirements
  integration/scripts/files/requirements/fedora-requirements.txt
  integration/scripts/files/requirements/ubuntu-requirements.txt
  lower-constraints.txt
  requirements.txt
  trove/tests/scenario/runners/module_runners.py
  trove/tests/unittests/common/test_stream_codecs.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

py3.x: Fix usage of gettext.install
  integration/tests/integration/int_tests.py
  integration/tests/integration/tests/colorizer.py
  trove/cmd/common.py
  trove/cmd/guest.py
  trove/cmd/manage.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add release note link in README
  README.rst
Due: none

Fix invalid escape sequence warnings
  integration/tests/examples/examples/client.py
  integration/tests/examples/examples/example_generation.py
  integration/tests/integration/tests/util/rpc.py
  integration/tests/integration/tests/util/services.py
  tools/install_venv.py
  tools/trove-pylint.py
  trove/common/apischema.py
  trove/common/db/cassandra/models.py
  trove/common/db/mongodb/models.py
  trove/common/db/mysql/models.py
  trove/common/wsgi.py
  trove/guestagent/common/configuration.py
  trove/guestagent/common/guestagent_utils.py
  trove/guestagent/datastore/experimental/couchbase/system.py
  trove/guestagent/datastore/experimental/db2/system.py
  trove/guestagent/datastore/experimental/postgresql/service.py
  trove/guestagent/datastore/experimental/vertica/system.py
  trove/guestagent/pkg.py
  trove/guestagent/strategies/backup/experimental/cassandra_impl.py
  trove/guestagent/strategies/backup/experimental/postgresql_impl.py
  trove/guestagent/strategies/backup/mysql_impl.py
  trove/guestagent/strategies/restore/experimental/postgresql_impl.py
  trove/tests/api/mgmt/hosts.py
  trove/tests/fakes/guestagent.py
  trove/tests/unittests/guestagent/test_operating_system.py
  trove/tests/util/mysql.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Raise timeout for instance resizing checking job
  playbooks/legacy/trove-functional-dsvm-mysql/run.yaml
  trove/tests/api/instances_actions.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix zuul check jobs
  releasenotes/notes/avoid-diverged-slave-when-migrating-mariadb-master-37e2429a1ea75913.yaml
  trove/guestagent/strategies/restore/base.py
  trove/guestagent/strategies/restore/mysql_impl.py
  trove/instance/models.py
  trove/taskmanager/manager.py
  trove/taskmanager/models.py
  trove/tests/unittests/guestagent/test_backups.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

[doc] Use openstack client command to replace others
  doc/source/install/manual_install.rst
Due: none

Format service apache2 reload section for Debian/Ubuntu
  doc/source/install/apache-mod-wsgi.rst
Due: none

More reliable gpg keys importing in DIB elements
  integration/scripts/files/elements/ubuntu-guest/environment.d/99-reliable-apt-key-importing.bash
  integration/scripts/files/elements/ubuntu-mariadb/pre-install.d/10-percona-apt-key
  integration/scripts/files/elements/ubuntu-mongodb/pre-install.d/10-mongodb-apt-key
  integration/scripts/files/elements/ubuntu-mysql/pre-install.d/10-percona-apt-key
  integration/scripts/files/elements/ubuntu-percona/pre-install.d/10-percona-apt-key
  integration/scripts/files/elements/ubuntu-pxc/pre-install.d/10-percona-apt-key
  integration/scripts/files/elements/ubuntu-trusty-mariadb/install.d/30-mariadb
  integration/scripts/files/elements/ubuntu-xenial-mariadb/install.d/30-mariadb
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Sync the data fields of DB* class and table fields.
  trove/backup/models.py
  trove/cluster/models.py
  trove/configuration/models.py
  trove/datastore/models.py
  trove/db/sqlalchemy/mappers.py
  trove/extensions/security_group/models.py
  trove/instance/models.py
  trove/module/models.py
  trove/quota/models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix replication failure when Swift isn't available
  trove/backup/models.py
  trove/common/exception.py
  trove/common/wsgi.py
  trove/instance/models.py
  trove/taskmanager/models.py
  trove/tests/unittests/instance/test_instance_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Remove nova conf for guestagent
  devstack/plugin.sh
  doc/source/admin/basics.rst
  doc/source/install/common_configure.txt
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add extended properties support for mongo cluster.
  releasenotes/notes/mongo-cluster-create-use-extended-perperties-ced87fde31c6c110.yaml
  trove/cluster/service.py
  trove/common/apischema.py
  trove/common/cfg.py
  trove/common/strategies/cluster/experimental/mongodb/api.py
  trove/tests/unittests/cluster/test_cluster.py
  trove/tests/unittests/cluster/test_mongodb_cluster.py
  trove/tests/unittests/cluster/test_vertica_cluster.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Reject zero volume size in API
  trove/common/apischema.py
  trove/tests/api/mgmt/malformed_json.py
  trove/tests/unittests/instance/test_instance_controller.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update .gitreview for stable/rocky
  .gitreview
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: none

Use print function rather than statement in tests
  integration/tests/examples/examples/client.py
  integration/tests/examples/examples/example_generation.py
  integration/tests/integration/tests/api/instances_states.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Remove unused imports from the integration tests
  integration/tests/examples/examples/client.py
  integration/tests/integration/int_tests.py
  integration/tests/integration/tests/dns/check_domain.py
  integration/tests/integration/tests/dns/conversion.py
  integration/tests/integration/tests/initialize.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Enable mutable config in trove
  trove/cmd/conductor.py
  trove/cmd/guest.py
  trove/cmd/taskmanager.py
  trove/common/wsgi.py
  trove/tests/unittests/conductor/test_conf.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Replace 14.04 trusty with 16.04 xenial.
  integration/README.md
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

import zuul job settings from project-config
  .zuul.yaml
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Use latests version of python-troveclient in tests
  test-upper-constraints.txt
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

update pylint to 1.9.2
  lower-constraints.txt
  test-requirements.txt
  tools/trove-pylint.README
  tools/trove-pylint.config
  trove/common/stream_codecs.py
  trove/db/sqlalchemy/session.py
  trove/guestagent/datastore/experimental/postgresql/service.py
  trove/taskmanager/models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

fix tox python3 overrides
  integration/tests/integration/int_tests.py
  integration/tests/integration/tests/colorizer.py
  run_tests.py
  tox.ini
  trove/cmd/manage.py
  trove/common/base_wsgi.py
  trove/common/db/models.py
  trove/common/wsgi.py
  trove/extensions/mgmt/quota/service.py
  trove/guestagent/datastore/experimental/couchdb/service.py
  trove/guestagent/datastore/experimental/db2/service.py
  trove/guestagent/datastore/experimental/redis/service.py
  trove/guestagent/datastore/experimental/vertica/service.py
  trove/guestagent/datastore/manager.py
  trove/guestagent/datastore/mysql_common/service.py
  trove/guestagent/module/drivers/module_driver.py
  trove/guestagent/module/module_manager.py
  trove/taskmanager/models.py
  trove/tests/api/configurations.py
  trove/tests/api/mgmt/malformed_json.py
  trove/tests/examples/client.py
  trove/tests/scenario/runners/configuration_runners.py
  trove/tests/util/client.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

make tox -e pylint only run pylint
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

switch documentation job to new PTI
  .zuul.yaml
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

add python 3.6 unit test job
  .zuul.yaml
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Cleanup zuul.yaml
  .zuul.yaml
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

endpoint_type option not used with single tenant
  releasenotes/notes/releasenotes/notes/fix-endpoint_type-option-not-used-with-single-tenant-f3e8b0f2807a026d.yaml
  trove/common/single_tenant_remote.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add blueprints and bugs link in documents
  doc/source/index.rst
Due: none

Fix cover job
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix the mysql start up issue after restore
  trove/guestagent/strategies/restore/mysql_impl.py
  trove/tests/unittests/guestagent/test_backups.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Path conditions:
  trove-functional-mysql: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-grenade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchdb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchbase-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mongodb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mongodb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-tox-fakemodetests: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/api/.*$, ^trove/tests/db/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tox-apiexamples: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/api/.*$, ^trove/tests/db/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
